annotated-types
anyio
branca
certifi
charset-normalizer
click
colorama
fastapi
folium
gensim
geographiclib
geopy
h11
idna
Jinja2
joblib
MarkupSafe
nltk
numpy
pandas
pydantic
pydantic_core
python-dateutil
pytz
regex
requests
scikit-learn
scipy
six
smart-open
sniffio
starlette
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
uvicorn
